.head{
  background-color: white;
}
.primaryimage{
  background-color: #FF4500;
}
.Productinfo{
  background-color: #FF4500;
}

#modalWrapper{
  visibility: hidden;
}

/*a {*/
  /*text-decoration: none;*/
/*}*/

/*header{*/
  /*background-color: red;*/
/*}*/

section{
  background-color: white;
}

footer{
  background: white;
}
